<form method='post' name='f' action='/create-account'>
  <h1>create account</h1>
  <p>passwords must be at least 8 characters long</p>
  <label for='uname'>name</label>
  <input type='text' name='uname' id='uname' required>

  <label for='pwd'>password</label>
  <input type='password' name='pwd' id='pwd' onkeyup='checkMatch();'
         minlength='8' required>

  <label for='pwd2'>password</label>
  <input type='password' name='pwd2' id='pwd2' onkeyup='checkMatch();'
         minlength='8' required>

  <input type='submit' id='button' value='submit'>
</form>

<p id='pwmatch'></p>
<p id='pwdlen'></p>

<script>
  function checkMatch() {

  if (document.getElementById('pwd').value == document.getElementById('pwd2').value) {
  document.getElementById('pwmatch').style.color = 'green';
  document.getElementById('pwmatch').innerHTML = 'passwords match';
  document.getElementById('button').disabled = false;

  } else {
  document.getElementById('pwmatch').style.color = 'red';
  document.getElementById('pwmatch').innerHTML = 'passwords do not match';
  document.getElementById('button').disabled = false;
  document.getElementById('button').disabled = true;

  }
  }

</script>
