<div>
  <div class='top'>
    <a href='/musicians'>musicians</a>
  </div>
  <div class='top'>
    <a href='/instruments'>instruments</a>
  </div>
  <div class='top'>
    <a href='/combine-mi'>combine musicians & instruments</a>
  </div>
  <div>
    <%- include('logout') %>
  </div>
</div>

<style>
  div.top {
  float: left;
  margin-right: 3em;
  }
</style>
